img[data-v-13d68a69]{-webkit-user-drag:none;user-drag:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}@media (pointer:coarse){.w-3.h-3[data-v-13d68a69]{height:.75rem;width:.75rem}}
